.product{
    display: flex;
//   padding: 10px 15px;

    width: 100%;
    .productContainer{
        flex: 6;
        
        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}