.service {
  display: flex;
  width: 100%;
  .serviceContainer {
    flex: 6;
    table,
    td,
    th {
      border: 1px solid #ddd;
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
